{% extends 'main.html' %}

{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #ddd9f3;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    div {
        max-width: 400px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(218, 210, 247, 0.9);
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 8px;
        font-weight: bold;
    }

    input[type="text"], textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    input[type="submit"] {
        background-color: #7483da;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 18px;
    }
</style>

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Trimite" />
    </form>
</div>

{% endblock content %}
